.twin-container{
    display: flex;
}
.product-container{
    display: flex;
    gap: 25px;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    width: 75%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
    margin-top: 13px;
}
.cart-container{
    width: 25%;
    background-color: antiquewhite;
    padding: 10px;
}